/* Div ou est affichée l'image en cours */
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
	#questions {
			background-image: url(img/questions-video.png);
	background-repeat: no-repeat;
	width: 100vw;
	height: 150px;
		z-index: 11;
	background-position: center center ;
	background-size:1050px auto;
		position: absolute;
		left: 120px;
		bottom:30px;
}


video {
	position: absolute;
    width: 1300px;
  height: auto;
  left:calc(50% - 650px);
  top:calc(50% - 400px);
  z-index: -100;
  
}
div#legende {
    width: 258px;
    position: absolute;
    top: 340px;
    padding: 0;
    margin: 0;
    left: 14px;
}
fieldset {
    border: 1px solid #eee;
}
legend {
    text-transform: uppercase;
    font-family: sans-serif;
	letter-spacing: 2px;
}
li, ol {
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}
span#rec {
    width: 15px;
    height: 15px;
    background-color: darkred;
    display: inline-block;
    border-radius: 20px;
	position: relative;
	top:2px
}
span#stop {
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
	position: relative;
	top:2px
}
li {margin:1em 0;}
ol {padding-left: 20px; }
.wrapper {
	text-align: center;
}

/* Classe associée au bouton d'enregistrement*/
.recButton:before {
	content:"Cliquez ici pour commencer l'enregistrement";
	display: block;
	position: absolute;
	top: 200px;
	width: 100%;
	height: 30px;
	text-align: center;
	color: white;
}
.recButton {
	bottom: calc(50% - 330px);
	position: fixed;
	width: 65px;
	height: 65px;
	font-size: 0;
	border: 0;
	border-radius: 65px;
	margin: 18px;
	margin-left: -17px;
	outline: none;
	background-color: darkred;
	transition: all 0.3s;
}

/* Classe ajoutée au bouton quand l'image est en cours d'enregistrement */
.Rec {
	background-color: red;
	border-radius: 0px;
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

/* partie intro : .intro est le background et .container est le contenaire du texte */

#intro.next {
	right:-100%;
	transition: right 0.5s;
}

#intro {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	background-color: white;
	transition: right 0.5s;
	z-index: 12;
}


.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
	z-index: 1000;
	background-image: url(img/ADIDAS_BE_SCREEN_TESTIMONY_DEF2.jpg);
	background-position: center right;
	background-repeat: no-repeat;
}
#logo { background-image: url(img/ADIDAS_OP_LOGO-02.png);
	position: fixed;
	top: calc(50% - 545px);
	left: calc(50% - 758px);
	height: 230px; 
	width: 350px;
	background-repeat: no-repeat;
	background-size: auto 100% ;
	z-index: 11;
}
#bandeau {
	background-image: url(img/deco-video.png);
	position: fixed;
	top: calc(50% - 450px);
	right: 0px;
	height: 107px; 
	width: 600px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	z-index: 11;
}
.swal2-modal.swal2-show {
    position: relative;
    bottom: 200px;
}
